<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <div class="cell-totals">
  <span
    *ngFor="let group of day.eventGroups"
    class="badge badge-{{ group[0] }}">
    {{ group[1].length }}
  </span>
  </div>
</ng-template>

<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div style="min-width: 500px;">
  <div class="filter-container col-xs-12">
    <div class="col-xs-12 filter-comp text-center">
      <div class="btn-group" style="border-color: black">
        <label *ngFor="let source of availableSources" class="btn btn-primary" style="border-color: black" [style.background-color]="getBackgroundColorForSource(source)" (click)="updateData()" [(ngModel)]="radioModel" btnRadio="{{source}}">{{source}}</label>
      </div>
    </div>
    <ng-select class="col-xs-12 col-md-4 filter-comp" [multiple]="true"
               [items]="categories"
               (data)="refreshCategory($event)"
               (selected)="selectedCategory($event)"
               (removed)="removedCategory($event)"
               placeholder="Category">
    </ng-select>
    <ng-select class="col-xs-12 col-md-4 filter-comp" [multiple]="true"
               [items]="manufacturers"
               (data)="refreshSourceNames($event)"
               (selected)="selectedManufacturer($event)"
               (removed)="removedManufacturer($event)"
               placeholder="Manufacturer">
    </ng-select>
    <ng-select class="col-xs-12 col-md-4 filter-comp" [multiple]="true"
               [items]="offerTypes"
               (data)="refreshOfferTypes($event)"
               (selected)="selectedOfferType($event)"
               (removed)="removedOfferType($event)"
               placeholder="Offer Type">
    </ng-select>
    <div>
      <app-hier-filter (SelectionChanged)="handleHierarchyChanged($event)"></app-hier-filter>
    </div>  
  </div>
  <div class="row text-center">
    <div class="col-xs-4 text-right">
      <button class="buttonBlueBorder" (click)="decrement()">&#9664;</button>
    </div>
    <div class="col-xs-4 text-center cal-title-label">
      {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
    </div>
    <div class="col-xs-4 text-left">
      <button class="buttonBlueBorder" (click)="increment()">&#9654;</button>
    </div>
  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" >
      <span class="cal-day-badge" style="background-color: #1a74ba" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal | number:'1.0-0' }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cell-totals">
<span
  *ngFor="let group of day.eventGroups" tooltip={{group[0]}}
  placement="top" (click)="eventClicked(group)" [style.background-color]="getColorForSource(group)" style="cursor: pointer"
  class="badge badge-{{ group[0] }}">
{{ group[1].length }}
</span>
    </div>
  </ng-template>
  <div [ngSwitch]="view" style="background-color:white;">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [cellTemplate]="customCellTemplate"
      (beforeViewRender)="beforeMonthViewRender($event)"
      (dayClicked)="dayClicked($event.day)"
      [activeDayIsOpen]="false">
    </mwl-calendar-month-view>
  </div>
  <div class="col-xs-5" style="margin-top: 5px; margin-left: 0px;">POC data represents a sample of the offers running in your stores.</div>
  <div class="col-xs-4" style="margin-top: 5px; margin-left: 0px;">
    <div class="col-xs-12 color-map-blue">&#9679; Total number of Offers Running</div>
    <div class="col-xs-12 color-map-orange">&#9679; Manufacturer Offers Starting</div>
    <div class="col-xs-12 color-map-green">&#9679; Retailer Offers Starting</div>
    <div class="col-xs-12 color-map-darkblue">&#9679; Loyalty Offers Starting</div>
  </div>
  <div class="col-xs-3" style="margin-top: 5px; margin-bottom: 20px;"><img src="assets/powerdby.png" style="max-width: 100%;"></div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedOffer.manufacturer}}</h4>
        <button type="button" class="close pull-right" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-xs-12 col-md-6" style="margin-bottom: 10px"><img class="img-fluid" style="max-width: 100%;" [src]="sanitizer.bypassSecurityTrustUrl(mcluURL)"></div>
        <div class="col-xs-12 col-md-6" style="margin-bottom: 10px;">
          <table class="table table-striped table-responsive table-bordered">
            <thead class="coupon-table-header">
            <tr>
              <th>Promotion</th>
              <th>Value</th>
              <th>Type</th>
            </tr>
            </thead>
            <tr>
              <td>{{selectedOffer.mclu}}</td>
              <td>{{selectedOffer.value | currency:'USD':true:'1.2-2'}}</td>
              <td>{{selectedOffer.type}}</td>
            </tr>
          </table>
        </div>
        <table class="table table-striped table-responsive table-bordered">
          <thead class="coupon-table-header">
          <tr>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>Stop Date</th>
          </tr>
          </thead>
          <tbody>
          <tr class="coupon-table-row" *ngFor="let tableRow of changePage()" (click)="onCellClick(tableRow)">
            <td>{{tableRow.manufacturer}}</td>
            <td>{{tableRow.category}}</td>
            <td>{{tableRow.startDate}}</td>
            <td>{{tableRow.stopDate}}</td>
          </tr>
          </tbody>
        </table>
        <pagination *ngIf="config.paging"
                    class="pagination-sm"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
        <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
      </div>
    </div>
  </div>
</div>
<app-error></app-error>
