.cell-totals {
  margin: 5px;
  text-align: center;
}
.badge {
  margin-right: 5px;
}
.cal-disabled {
  background-color: #eee;
  pointer-events: none;
}

.cal-disabled .cal-day-number {
  opacity: 0.1;
}
.calendar-container{
  background-color: white;

  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.filter-container{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.cal-days{
  background-color: white;
}
@media only screen and (max-width: 320px) {
  .coupon-table-row{
    font-size: 7pt;
  }
  .coupon-table-header{
    font-size: 7pt;
  }
}
.filter-comp{
  background-color: white;
  margin-bottom: 20px;
}
.coupon-table-header{
  background-color: #1daeec;
}
.coupon-table-row:hover{
  cursor: pointer;
  background-color: #dedede;
}
.coupon-table{
  border: 1px solid black;
}
.cal-title-label{
  font-size: 30px;
}
.color-map-blue:first-letter{
  color: #1a74ba;
}
.color-map-orange:first-letter{
  color: #fc6921;
}
.color-map-green:first-letter{
  color: #a5da00;
}
.color-map-darkblue:first-letter{
  color: #4000ec;
}
