<!--<div *ngFor="let alert of alerts">-->
  <!--<alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>-->
<!--</div>-->
<!--<div class="col-xs-2"></div>-->
<!--<div class="col-xs-8">-->
  <!--&lt;!&ndash;<div [hidden]="submitted">&ndash;&gt;-->
    <!--<h1 style="text-align: center">New User Request</h1>-->
    <!--<form [formGroup]="userForm"  *ngIf="active"  (ngSubmit)="onSubmit()">-->
      <!--<div class="form-group">-->
        <!--<label for="firstName">First Name</label>-->
        <!--<input [(ngModel)]="user.firstName" type="text" id="firstName" class="form-control"-->
               <!--formControlName="firstName" required >-->
        <!--<div *ngIf="formErrors.firstName" class="alert alert-danger">-->
          <!--{{ formErrors.firstName }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="lastName">Last Name</label>-->
        <!--<input [(ngModel)]="user.lastName" type="text" id="lastName" class="form-control"-->
               <!--formControlName="lastName" required >-->
        <!--<div *ngIf="formErrors.lastName" class="alert alert-danger">-->
          <!--{{ formErrors.lastName }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="email">Email</label>-->
        <!--<input [(ngModel)]="user.email" type="email" id="email" class="form-control"-->
               <!--formControlName="email" required >-->
        <!--<div *ngIf="formErrors.email" class="alert alert-danger">-->
          <!--{{ formErrors.email }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="phone">Phone Number</label>-->
        <!--<input [(ngModel)]="user.phone" type="tel" id="phone" class="form-control"-->
               <!--formControlName="phone" required >-->
        <!--<div *ngIf="formErrors.phone" class="alert alert-danger">-->
          <!--{{ formErrors.phone }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="role">Role</label>-->
        <!--<input [(ngModel)]="user.role" type="text" id="role" class="form-control"-->
               <!--formControlName="role" required >-->
        <!--<div *ngIf="formErrors.role" class="alert alert-danger">-->
          <!--{{ formErrors.role }}-->
        <!--</div>-->
      <!--</div>-->

      <!--<button type="submit" class="btn btn-default"-->
              <!--[disabled]="!userForm.valid">Submit</button>-->

    <!--</form>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->

