.logo-container{
  /*margin-top: 20px;*/
  text-align: center;
  background-color: transparent;
}
.login-screen-container{
  height:100%;
  background: rgb(29,174,236); /* Old browsers */
  background: radial-gradient(ellipse at center, rgba(29,174,236,1) 0%,rgba(32,124,202,1) 49%,rgba(41,75,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1daeec', endColorstr='#294b7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: static;
  background-attachment: fixed;
}
.login-container{
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    7px 7px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         7px 7px 13px 0px rgba(0, 0, 0, 0.75);
}
.form-control{
  margin-top: 10px;
}
.login-submit{
  margin-top: 20px;
}
.btn-override{
  margin-top: 20px;
  background-color: #294b7e;
}
.login-label{
  margin: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  color: #294b7e;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 480px){
  .logo-responsive{
    width:100vw;
  }
}
.reset-link{
  display: block;
  float:right;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;

}
body{
  height: auto;
  margin:0;
  background: rgb(29,174,236); /* Old browsers */
  background: radial-gradient(ellipse at center, rgba(29,174,236,1) 0%,rgba(32,124,202,1) 49%,rgba(41,75,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1daeec', endColorstr='#294b7e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
}
