<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div class="login-screen-container">
  <div class="logo-container"><img  style="margin-top: 20px" src="assets/logo.png" class="logo-responsive"></div>
  <div class="col-xs-10 col-sm-8 col-md-6 login-container">
    <form role="form" (submit)="login($event, username.value, password.value)">
      <div class="login-label">USER LOGIN</div>
      <input type="text" #username class="form-control" id="username" placeholder="Username">
      <input type="password" #password class="form-control" id="password" placeholder="Password">
        <a class="reset-link" target="_blank" href="https://sspr.catalinamarketing.com/sspr/private/">Password Reset</a>
      <button class="btn btn-primary btn-lg btn-block btn-override">Login</button>
    </form>
  </div>
</div>
<app-error></app-error>
