<div style="width:100%;height:100%;">
  <div class="row">
    <label>Level:</label>&nbsp;
    <input type="radio" name="rbHierLevel" value="1" [(ngModel)]="hierLvl" (change)="levelChanged($event)"/> 1 
    <input type="radio" name="rbHierLevel" value="2" [(ngModel)]="hierLvl" (change)="levelChanged($event)"/> 2 
    <input type="radio" name="rbHierLevel" value="3" [(ngModel)]="hierLvl" (change)="levelChanged($event)"/> 3 
    <input type="radio" name="rbHierLevel" value="4" [(ngModel)]="hierLvl" (change)="levelChanged($event)"/> 4 
    <input type="radio" name="rbHierLevel" value="5" [(ngModel)]="hierLvl" (change)="levelChanged($event)"/> 5 
  </div>
  <ng-select class="col-xs-12 col-md-4 filter-comp" [multiple]="true"
    [items]="brands"
    (data)="refreshBrands($event)"
    [(ngModel)]="selectedBrands"
    placeholder="Brand">
  </ng-select>
</div>
