/* You can add global styles to this file, and also import other style files */
@import '../node_modules/angular-calendar/dist/css/angular-calendar.css';
@import 'css/ng2-select.css';
@import 'css/busy.css';

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.buttonBlueBorder{
  background-color: white;
  border: solid;
  border-color: #1a74ba;
  border-radius: 5px;
  font-size: 20px;
  color: #1a74ba;
  margin-bottom: 15px;
}
.buttonBlueBorder:focus{
  outline: none ;
}
