.sidebar{
  overflow: hidden;
  height:100%;
}
.sidebar-container{
  background-color: red;
  height: 100%;
}
.buttonStyleBorder{
  background-color: white;
  font-size: 20px;
  border: none;
  color: #9696a1;
  margin-bottom: 15px;
}
.buttonStyleBorder:focus{
  outline: none ;
}
.buttonStyleBorder:hover{
  outline: none;
  text-decoration: underline;
}
.buttonStyleBlue{
  background-color: white;
  font-size: 20px;
  border: none;
  color: #1a74ba;
  margin-bottom: 15px;
}
.buttonStyleBlue:focus{
  outline: none ;
}
.buttonStyleBlue:hover{
  outline: none;
  text-decoration: underline;
}
