<div style="background-color: white; min-width: 500px;">
<div class="col-xs-12 col-md-2">
  <div class="sidebar">
    <div class="text-center"><img style="max-width: 100%; max-height: 150px; margin-top:10px; margin-bottom: 10px" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64,'+logoURL)"></div>
    <div *ngIf="showAllLinks">
    <div class="col-xs-12 text-center" style="margin-bottom: 10px; font-size: 20px; margin-bottom: 10px;"><a [routerLink]="['forecast']">Forecast</a></div>
    <div class="col-xs-12 text-center" style="margin-bottom: 10px; font-size: 20px; margin-bottom: 10px;"><a [routerLink]="['actual']">Actual</a></div>
    </div>
    <!--<div class="col-xs-12 text-center" style="margin-bottom: 10px; font-size: 20px; margin-bottom: 10px;"><a [routerLink]="['user-setup']">New User</a></div>-->
    <div class="col-xs-12 text-center" style="margin-bottom: 10px; font-size: 20px; margin-bottom: 10px; cursor: pointer;"><a (click)="logout()">Logout</a></div>
  </div>
</div>
<div class="col-xs-12 col-md-10">
  <router-outlet></router-outlet>
</div>
</div>
